<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.slothychemdoksloth.mobilelegendssoundboard">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:icon="@drawable/logo"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".Hero_Audio_Activity" />
    <activity android:name=".Assasin_Activity" />
    <activity android:name=".Mage_Activity" />
    <activity android:name=".Fighter_Activity" />
    <activity android:name=".Tank_Activity" />
    <activity android:name=".Support_Activity" />
    <activity android:name=".Marksman_Activity" />
    <activity android:name=".Announcer_Activity" />
    <activity android:name=".Help_Activity"></activity>
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-7717760204588800~8036911192"/>
</application>

</manifest>